@import url('https://fonts.googleapis.com/css2?family=Monda:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #232323;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

.img {
  background-image: cover;
  overflow: none;
  background-repeat: no-repeat;
  width: 100wv;
  height: 100vh;

}


.black_gradient {
  background: linear-gradient(to right, #000000 0%, #000000 100%);
}
.brown_gradient {
  background: linear-gradient(to right, #7b5638 84%, #cbbaab 83%);
}
